<!DOCTYPE html>
<html>
<head>

  <title>Speech to text converter in JS</title>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" />

<style type="text/css">
* {
  font-family: sans-serif;
  margin:0;
  padding: 0;
  box-sizing: border-box; 
}

html, body {
  height: 100%;
  background: #606060;
  background: linear-gradient(to bottom, #0074D9, lightgrey);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mainHeading {
  color: white;
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

#mainNav {
  height: 70px;
}

#mainNav ul {
  display: flex;
  justify-content: space-around;
  height: inherit;
}

#mainNav ul li {
  list-style: none;
  align-self: center;
}

#mainNav ul li a {
  color: white;
  font-size: 35px;
  text-decoration: none;
}

#mainNav ul li a:hover > .fa-money {
  color: green;
}

#mainNav ul li a:hover > .fa-credit-card-alt {
  color: #0074D9;
}

#mainNav ul li a:hover > .fa-calculator {
  color: orange;
}


</style>

</head>

<body>

<h1 id="mainHeading">Business Expenses Calculator</h1>
  
<nav id="mainNav">

  <ul>
    <li><a href="/income">Income <i class="fa fa-money" aria-hidden="true"></i></a></li>
    <li><a href="/expenses">Expenses <i class="fa fa-credit-card-alt" aria-hidden="true"></i></a></li>
    <li><a href="/profit">Gross Profit <i class="fa fa-calculator" aria-hidden="true"></i></a></li>
  </ul>
  
</nav>

<!--   <h4 align="center">Speech to text converter in JS</h4>
  <div id="result"></div>
  <button onclick="startConverting();"><i class="fa fa-microphone"></i></button> -->


<script src="scripts/voice.js"></script>
</body>

</html>