<!DOCTYPE html>
<html>
<head>

  <title>Business Expenses</title>

  <!-- <meta http-equiv="refresh" content="2"> -->

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" />

<style>

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Times, serif;
}

html, body {
  height: 100%;
  background: #606060;
  background: linear-gradient(to bottom, #0074D9, #3F4F8E);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-cog {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#navHeading {
  color: white;
  margin-top: 10px;
  padding-left: 10px;
}

#mainNav {
  position: fixed;
  background: linear-gradient(to bottom,  #0074D9, #3F4F8E);
  box-shadow: -1px -1px 3px lightgrey;
  width: 0;
  height: 100%;
  right: 0;
  transition: width .5s;
  z-index: 999; 
}

#mainNav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 10px;
}

#mainNav ul li {
  padding: 6px 10px 6px 10px;
}

#mainNav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;  
  white-space: nowrap;
}

#mainForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#formHeading {
  color: white;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 25px;
}

.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 1s, visibility 1s;
}

.questions-container label {
  color: white;
  font-size: 30px;
}

.questions-container input {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 30px;
  text-align: center;
}

.questions-container input:focus {
   outline: none;
}

#spreedsheetLink {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  align-self: flex-end;
  margin-left: 50px;
}

.fa-angle-double-right {
  color: #90EE90;
}

#errorContainer {
  color: #F08080;
  font-size: 25px;
  margin-bottom: 20px;
}

.removeHidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;  
}

.addHidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

#start {
  font-size: 30px;
  color: white;
  align-self: center;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  transition: opacity 1s, visibility 1s;
}

#spreedsheetLink {
  transition: opacity 1s, visibility 1s;
}

.fa-plus {
  color:  #87CEFA;
}

#buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

#successContainer {
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
}

#test {
  position: relative;
}

#dateContainer {
  position: absolute;
  left: 2px ;   
  font-size: 13.3333px;
  top: 2px;
}

.hide {
  display: none;
}

#loadingThing {
  display: flex;
  align-items: center;
  align-self: center;
  margin-top: 20px;
  transition: opacity 1s, visibility 1s;
}

#listening {
  margin-left: 5px;
  color: white;
}

#loader {
  background: #FF4136;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  animation: scale 3s linear infinite;
}

@keyframes scale {
    0% { 
      transform: scale(.2);
      opacity: 0;
    }
    100% { 
      transform: scale(1);
      opacity: .8; 
    }
}

</style>
</head>
<body>

  <i id="navButton" class="fa fa-cog" aria-hidden="true"></i>

  <nav id="mainNav">

    <h1 id="navHeading">Menu</h1>

    <ul>
      <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
      <li><a href="/income"><i class="fa fa-money" aria-hidden="true"></i> Income</a></li>
      <li><a href="/expenses"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Expenses</a></li>
      <li><a href="/profit"><i class="fa fa-calculator" aria-hidden="true"></i> Gross Profit</a></li>
    </ul>
    
  </nav>

  <div id="successContainer"><%= success %></div> 

  <div id="errorContainer"></div> 

  <form id="mainForm" name="mainForm" action="/sendReceipt" method="post">

      <div class="questions-container removeHidden">

        <label for="location" class="labels" data-question="Where was this purchase made?">Where was this purchase made?</label>
        <input id="location" type="text" name="location">

      </div>

      <div class="questions-container removeHidden">

        <label for="date" class="labels" data-question="What date?">What date?</label>
        <input id="date" type="text" name="date">

      </div>

      <div class="questions-container removeHidden">

        <label for="amount" class="labels" data-question="What amount?">What amount?</label>
        <input id="amount" type="text" name="amount">

      </div>

      <div class="questions-container removeHidden">
      
        <label for="expense_type" class="labels" data-question="What type of expense?">What type of expense?</label>
        <input id="expense_type" type="text" name="expense_type">

      </div>
      
    </div>

    <div id="loadingThing" class="removeHidden">
      <div id="loader"></div>
      <div id="listening">Listening...</div>
    </div>

    <div id="buttonContainer">
      
      <div id="start">Add expense <i class="fa fa-plus" aria-hidden="true"></i></div>

      <a id="spreedsheetLink" href="/expenses/spreadsheet">View all expenses <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>

    </div>

  </form>
  
  <script src="scripts/mainNav.js"></script>

  <script src="scripts/voice.js"></script>

</body>
</html>