<!DOCTYPE html>

<html>

  <head>

    <title>Speech to text converter in JS</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" />

    <style type="text/css">

    #loadingThing {
      display: none;
      align-items: center;
    }

    #listening {
      margin-left: 5px;
    }

    #loader {
      background: #FF4136;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      animation: scale 3s linear infinite;
    }

    @keyframes scale {
        0% { 
          transform: scale(0);
          opacity: 0;
        }
        100% { 
          transform: scale(1);
          opacity: 1; 
        }
    }

    </style>

  </head>

  <body>


  </body>

</html>