<!DOCTYPE html>
<html>

<head>

  <title>Business Expenses Calculator Mobile</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- <meta http-equiv="refresh" content="1"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<style>

* {
  font-family: sans-serif;
  font-weight: 200;
  margin:0;
  padding: 0;
  box-sizing: border-box; 
}  

html, body {
  height: 100%;
  background: black;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

.radioButtons {
  display: none;
}

#header {
  display: flex;
  justify-content: flex-end;
}

.fa-cog {
  color: white;
  font-size: 30px;
  padding: 25px;
}

#expensesForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#firstSection {
  width: 90%;
}

#firstSectionHeadingContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#firstSectionHeading {
  color: white;
  font-size: 35px;
}

.seperation {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.radioContainers {
  padding: 10px;
}

.radioContainers input:checked + .imageCropping {
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
} 

.imageCropping {
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width: 120px;
  height: 120px;
  border-radius: 5px;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}

.buttonContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nextButton {
  color: white;
  font-size: 30px;
}

.fa-angle-double-right {
  color: #0074D9;
}

.home-depot-label {
  background-image: url('homedepot.png');
}

.lowes-label {
  background-image: url('lowes.png');
}

.shell-label {
  background-image: url('gas.png');
}

.other-label {
  background-image: url('other.png');
}

#errorContainer {
  color: white;
  background: red;
  text-align: center;
}
</style>

<body>

  <div id="mainContainer">
    
    <div id="errorContainer"></div>

    <header id="header">

      <i class="fa fa-cog" aria-hidden="true"></i>

    </header>

    <form id="expensesForm">

      <div id="firstSection" class="active">

        <div id="firstSectionHeadingContainer">

          <h1 id="firstSectionHeading">Select Expense Type</h1>
          
        </div>

        <div class="seperation">
          
          <div class="radioContainers">
            
            <input id="homeDepot" class="radioButtons" type="radio" name="expense-type" value="Home Depot">
            <label class="home-depot-label imageCropping touchButton" for="homeDepot"></label>
            
          </div>

          <div class="radioContainers">

            <input id="lowes" class="radioButtons" type="radio" name="expense-type" value="Lowes">
            <label class="lowes-label imageCropping touchButton" for="lowes"></label>

          </div>

        </div>

        <div class="seperation">
          
          <div class="radioContainers">

            <input id="shell" class="radioButtons" type="radio" name="expense-type" value="Gas">
            <label class="shell-label imageCropping touchButton" for="shell"></label>

          </div>

          <div class="radioContainers">

            <input id="other" class="radioButtons" type="radio" name="expense-type" value="Other">
            <label class="other-label imageCropping touchButton" for="other"></label>

          </div>
          
        </div>

        <div class="buttonContainer">

          <!-- Just put this here so i could space-around and make my life easier lol !-->

          <div></div>

          <a class="nextButton" onclick="return validateRadioButtons()">Next <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
          
        </div>

      </div>

      <div id="secondSection" class="hidden">

        <div id="itemContainers">

          <label>Date:</label>

          <input id="dateBox" type="date" name="date" min="2017-01-01" max="2017-12-31">

          <input type="button" name="Next" value="Next">
          
        </div>
        
      </div>

    </form>

  </div>

<script>

  var button = document.querySelectorAll('.touchButton');
  var errorContainer = document.getElementById('errorContainer');

  var i;
  var buttonLength = button.length;
  var radioButton;

  for (i = 0; i < buttonLength; i++) {

    button[i].addEventListener('touchstart', function(e) {

      e.preventDefault();

      radioButton = document.getElementById(this.attributes['for'].value);

      radioButton.checked = true;

    }, false)

  }

  function validateRadioButtons() {

    var radioContainer = document.getElementById('firstSection')
    var nextContainer = document.getElementById('secondSection')

    try {
      
      if (!radioButton) {

        throw new Error("Please select an expense type*")

      } else {

        errorContainer.innerHTML = ''

      }

    } catch (e) {

      return errorContainer.innerHTML = e.message

    }

    radioContainer.classList.remove('active')
    radioContainer.classList.add('hidden')

    nextContainer.classList.remove('hidden')
    nextContainer.classList.add('active')
    
  }

</script> 
</body>
</html>